<!DOCTYPE html>
<html>
    <head>
        <title>Caesar Cipher</title>
        <link rel='stylesheet' href='styles.css' />
    </head>
    <body>
        <p class="github-link">
            <a href='https://github.com/coped/sinatra-caesar-cipher'>Github Repository</a>
        </p>
        <h1>Caesar Shift</h1>
        <%= yield %>
    </body>
</html>